@use '../../../styles/mixin.scss';
@use '../../../styles/main.scss';
@use '../../../styles/variable.scss';

.home__container {
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--plain-a);
  font-family: var(--roboto-font);
  transition: background-color 0.3s ease, color 0.3s ease;
  gap: 1rem;
  overflow-x: hidden;

  .language__translators {
    display: flex;
    gap: 1rem;

    button {
      @include mixin.button;
      background-color: var(--main-yellow);
      color: var(--plain-b);
      outline: none;
      border: none;
      transition: background-color 0.3s ease, transform 0.1s ease;

      &:hover {
        background-color: var(--main-yellow);
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}

.header {
  padding: 1rem;
  margin: 0 auto;

  .container {
    max-width: 80rem;
    margin: 0 auto;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .md\:hidden {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .leftheader {
    display: none;
  }

  .h-8 {
    height: 2rem;
  }

  .w-8 {
    width: 2rem;
  }

  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .font-semibold {
    font-weight: 600;
  }
}