@use 'variable' as *;
@use 'mixin' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: var(--primary-50);
  color: var(--secondary-50);
  font-family: var(--inter-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--instrument-serif-font);
}

p,
span,
a,
button,
input,
textarea,
select {
  font-family: var(--inter-font);
}
