@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($property, $duration) {
  transition: $property $duration ease;
}


@mixin button{
      padding: 0.7rem;
      border-radius: 1.5rem;
      font-size: .9rem;
      font-weight: 550;
      font-family: var(--roboto-font);
      cursor: pointer;
}

@mixin divider{
      background-color: var(--neutral-400); 
      height: 2px;
      position: relative;

      p{
        position: absolute;
        left: 44%;
        top: -17.5px;
        padding: .5rem;
         background: var(--primary-800);
         color: var(--neutral-50);
      }
    
}

@mixin max-1440 {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin max-1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin max-768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin max-480 {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin max-320 {
  @media (max-width: 320px) {
    @content;
  }
}
