@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  // Light Theme Primary Colors
  --primary-50: #f9fff5;
  --primary-100: #f2ffeb;
  --primary-200: #aefd7d;
  --primary-300: #7ef038;
  --primary-400-main: #57c016;
  --primary-500: #408415;
  --primary-600: #aefd7d;
  --primary-700: #effff5;
  --primary-800: #f9fff5;

  // Light Theme Secondary Colors
  --secondary-50: #534109;
  --secondary-100: #796215;
  --secondary-200: #ae8a13;
  --secondary-300: #e9b50c;
  --secondary-400: #ffcd29;
  --secondary-500: #ffd95c;
  --secondary-600: #ffe58f;
  --secondary-700: #fffc12;
  --secondary-800: #fff5d6;

  // Light Theme MAIN Colors
  --main-green: #57c016;
  --main-yellow: #e9b50c;
  --background: #fefefe;
  --plain-a: #242424;
  --plain-b: #fefefe;

  // Light Theme Neutral Colors
  --neutral-50: #474747;
  --neutral-100: #737373;
  --neutral-200: #adadad;
  --neutral-300: #bdbdbd;
  --neutral-400-main: #c7c7c7;
  --neutral-500: #d9d9d9;
  --neutral-600: #e8e8e8;
  --neutral-700: #f5f5f5;
  --neutral-800: #fafafa;

  //fonts
  --roboto-font: 'Roboto', sans-serif;
  --inter-font: 'Inter', sans-serif;
  --instrument-serif-font: 'Instrument Serif', serif;
}

.dark-theme {
  // Dark Theme Primary Colors
  --primary-50: #141712;
  --primary-100: #161b13;
  --primary-200: #294517;
  --primary-300: #375c1f;
  --primary-400-main: #408415;
  --primary-500: #34581d;
  --primary-600: #182112;
  --primary-800: #141712;
  --primary-700: #0f0f0f;

  // Dark Theme Secondary Colors
  --secondary-50: #ffffff;
  --secondary-100: #fff1c2;
  --secondary-200: #ffe58f;
  --secondary-300: #e9b50c;
  --secondary-400: #ffcd29;
  --secondary-500: #ffd95c;
  --secondary-600: #ae8a13;
  --secondary-700: #534109;
  --secondary-800: #ffffff;

  // Dark Theme MAIN Colors
  --main-green: #408415;
  --main-yellow: #ffcd29;
  --background: #0f0f0f;
  --plain-a: #fefefe;
  --plain-b: #141414;

  // Dark Theme Neutral Colors
  --neutral-50: #b2b2b2;
  --neutral-100: #9999a3;
  --neutral-200: #989298;
  --neutral-300: #8a878d;
  --neutral-400-main: #5c5a5d;
  --neutral-400: #525053;
  --neutral-600: #333234;
  --neutral-700: #262527;
  --neutral-800: #1f1e1f;
}
