@use '../../../styles/main.scss';
@use '../../../styles/mixin.scss';
@use '../../../styles/variable.scss';

.create__post__container {
  display: grid;
  grid-template-columns: 2fr 8fr;

  .content__container {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    .content__body {
      width: 100%;
      padding: 2.8125rem 13rem;
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
      align-self: center;
      @include mixin.max-1440 {
        padding: 5px;
      }

      &.content__body__preview__post {
        max-width: clamp(300px, 50%, 580px);
        padding: 2.8125rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        .content__title {
          font-family: var(--instrument-serif-font);
          font-weight: 550;
          font-size: 2rem;
          color: var(--neutral-50);
        }
        .content__sub__title {
          font-family: var(--roboto-font);
          font-weight: 500;
          font-size: 16px;
          color: var(--neutral-200);
          line-height: 24px;
        }

        .content__text {
          font-family: var(--roboto-font);
          font-weight: 400;
          color: var(--neutral-50);
          line-height: 24px;
          margin-top: 2rem;
        }
      }
    }

    .input__container__wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
