@use "../../../styles/mixin.scss";
@use "../../../styles/main.scss";
@use "../../../styles/variable.scss";


.create__post__top__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    border-bottom: 1px solid var(--neutral-500);
    height: 85px;
    position: sticky;
    top: 0;
    z-index: 999;


    div{
        color: var(--neutral-50);
        font-size: 18px;
        font-family: var(--roboto-font);
    }
    
    select{
        border: none;
        background: none;
        color: var(--neutral-50);
        font-size: 18px;
        font-family: var(--roboto-font);

        &:focus{
            outline: none;
            border: none;
        }

    }

    button{
    padding: .7rem 2.5rem;    
    border-radius: 6.25rem;    
    border: none;    
    background-color: var(--primary-400-main);    
    color: var(--plain-b);    
   font-family: var(--roboto-font);
   cursor: pointer;
  }
}