@use '../../../styles/mixin.scss';
@use '../../../styles/main.scss';
@use '../../../styles/variable.scss';

.reactjs-tiptap-editor {
  border: 0;
  outline: none;
  background-color: var(--background-color) !important;
  box-shadow: none;
  div {
    border: 0;
    outline: none;
    box-shadow: none !important;
    background-color: var(--background-color) !important;
    position: static !important;
  }

  .tiptap {
    box-shadow: none !important;
    background-color: transparent !important;
    background-color: var(--background-color) !important;
  }

  .ProseMirror {
    box-shadow: none !important;
    background-color: var(--background-color) !important;
  }
  code {
    font-family: 'JetBrainsMono', monospace;
  }
}
