.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 

  .modal {
    background: var(--neutral-600);
    width: 90%; 
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

    h3 {
      background: var(--neutral-600);
      padding: 16px;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: var(--neutral-50);
    }

    .modal-option {
      padding: 16px;
      cursor: pointer;
      font-size: 16px;
      color: var(--neutral-50);

      &:hover {
        background: var(--neutral-400);
      }
    }

    hr {
      margin: 0;
      border: none;
      border-top: 1px solid #e0e0e0; 
    }
  }
}
